.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(7, 66, 125);
  height: 20vh;
  display: flex;
  flex-direction: row;
  align-items:initial;
  justify-content:baseline;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color: rgba(31, 29, 29, 0.907);
  
  
}


.card{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items:center ;
  
}

.DivTitulo{
  display: flex;
  flex-direction: column;
  border: solid 2px;
  border-color: #9CFF2E;
  box-shadow: 2px 2px 2px 2px #9CFF2E;
  border-radius: 10%;
  height: 10%;
  width: 20%;
  color: #9CFF2E;
}



.Product{
  border: solid 3px;
  border-color: #0ff;
  border-radius: 10%;
  box-shadow: 2px 2px 2px 2px #0ff;
  padding-bottom: 10%;
  margin-bottom: 10%;
  color: #0ff;
}

.smallcards{

  color: aliceblue;
  border: solid 1px white;
}

.Titulo{
  color: aliceblue;
}

.conteiner{
  width: 10%;
  height: 10%;
  border: solid 3px;
  border-color: #0ff;
  border-radius: 10%;
  box-shadow: 2px 2px 2px 2px #0ff;
  color: #0ff;
}


.Card2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  

}

.lastCrated {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: initial ;
  box-sizing: border-box;
  position: relative;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.lastCrated-title-card {
  color:white;
}
.div-row{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-right: -0.75rem;
  margin-left: .0.75rem;
  box-sizing: border-box;
}
.mb-4{
  margin-bottom: 1.5rem!important;
}
.crd{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgba(153, 192, 224, 0.195);
  background-clip: border-box;
  border: 1px solid #e3e6f0;
  border-radius: 0.25 rem;
}
.shadow{
  box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
}
.crd-header{
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: hsl(225, 71%, 78%);
  border-bottom: 1px solid #e3e6f0;
}
.py-3 {
  padding-bottom: 1rem!important;
  padding-top: 1rem!important;
  
}
