.App-logo {
    height: 20vmin;
    pointer-events: none;
    animation: App-logo-spin infinite 20s linear;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  @keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} 

  }
  .bg-gradient-secondary {
    background-color: #6c6cc4 !important;
    background-image: -webkit-linear-gradient(180deg, #c56643 20%, #443ad2 100%);
    background-size: cover;
  }

  .App-header {
    background-color: white;
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items:initial;
    justify-content:baseline;
    font-size: calc(10px + 2vmin);
    color: grey;
  }
  
  .btnAll {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }

  .btnAll .btn-Selection {
    border: none;
    transition: .3s;
    outline: none;
    padding: 0;
    margin-left: 0.95vw;
    margin-right: 0.95vw;
  }

  .btnAll .btn-Selection:hover{
    scale: 1.06;
  }

  .btnAll .btn-Selection:active{
    scale: 0.94;
  }

  .CreateForm {
    display: flex;
    flex-direction: column;
  }

  @media (min-width : 1024px) {
    .create_wrapper {
      align-self: center;
    }

    .CreateForm {
      max-width: 700px;
    }
}

  .products-container{
    display: inline-flex;
    flex-wrap: wrap;
  }

  .products-container .product-wrapper {
    width: 200px;
  }
  




  
